*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: url("/Assets/background.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
   
}

/*=============================Nav-bar==================================*/

.nav-bar{
    display:flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    width: 98%;
    height: 180px;
    margin-left: 20px;
    box-shadow: 0 0 10px white; 
    border-radius: 30px;
    margin-top: 20px;
    
}

.nav-bar i{
    margin-top: 80px;
    margin-left: 450px;
    color: #fff5fa;
    font-size: 24px;
}



.nav-link{
    display: flex;
    gap: 35px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.nav-link a{
    text-decoration: none;
    color: #fff5fa;
    font-size: 22px;
    font-weight: 600;
    transition: background 0.02s ease, scale 0.02 ease;
}

.nav-link a:hover{
    background: #fff5fa;
    transform: scale(1.9);
    border-radius: 10px;
    color: #000;

}

.login-signup{
    height: 60px;
    width: 170px;
    margin: 55px 200px 0 0;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff5fa;
    border: none;
    background-color: #ffa75a;
    transition: scale 0.02s ease, background-color 0.02s ease, color 0.02 ease;
}

.login-signup:hover{
    transform: scale(1.09);
    background-color: rgb(255,0,0);
    color: #000;
}

/*===========================================Hero-section==================================*/

#hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0 20px;
    box-shadow: 0 0 10px white;
    border-radius: 30px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    height: 800px;
    width: 98%;

}

.head1{
    color: #fff5fa;
    font-size: 80px;
    margin-left: 70px;
    margin-top: 50px;
}

.head2{
    margin-left: 70px;
    color: #fff5fa;
    font-size: 30px;
    margin-top: 15px;
    
}

.content{
    margin-left: 70px;
    margin-top: 25px;
    color: #fff5fa;
    font-size: 20px;
}

.ordernow{
    height: 60px;
    width: 170px;
    margin: 55px 25px 0 0;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff5fa;
    border: none;
    background-color: #ffa75a;
    margin-left: 100px;
    width: 190px;
    transition: scale 0.02s ease, background-color 0.02s ease, color 0.02 ease;


}

.ordernow:hover{
    transform: scale(1.09);
    background-color: rgb(255,0,0);
    color: #000;
}

.explore{
    height: 60px;
    width: 170px;
    margin: 55px 25px 0 0;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff5fa;
    border: none;
    background-color: #ffa75a;
    margin-left: 100px;
    width: 190px;
    cursor: pointer;
    transition: scale 0.02s ease, background-color 0.02s ease, color 0.02 ease;

}

.explore:hover{
    transform: scale(1.09);
    background-color: rgb(255,0,0);
    color: #000;
}



.customers h3{
    margin-left: 120px;
    margin-top: 40px;
    color: #fff5fa;
    font-size:20px;
}

.customers h1{
    margin-left: 115px;
    margin-top: 5px;
    color: #fff5fa;
    font-size: 35px;
}

.deliveries h3{
    margin-left: 435px;
    margin-top: -80px;
    color: #fff5fa;

}

.deliveries h1{
    margin-left: 435px;
    margin-top: 5px;
    color: #fff5fa;
    font-size: 35px;
}

.left-part{
    
    box-shadow: 0 0 10px #000;
    border-radius: 15px;
    background-color: rgba(127,127,127,0.1);
    backdrop-filter: blur(5px);
    margin-left: 150px;
    margin-top: 20px;
    height: 700px;
    width: 730px;
    transition: transform 0.3s, box-shadow 0.3s ;


}

.left-part:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px grey;
}

.right-part{
    display:grid;
    grid-template-columns: auto auto;
    height: 700px;
    width: 750px;
    background-color: rgba(127,127,127,0.1);
    backdrop-filter: blur(5px);
    margin-right: 150px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    transition: transform 0.3s, box-shadow 0.3s ;

}

.right-part:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px grey;
}

.coffee1, .coffee2, .coffee3, .coffee4{
    margin: 25px 0 0 40px;
    border-radius: 30px;
    
}

/*==================================================Our-services==================================*/


#our-services{
    display:grid;
    grid-template-columns: auto auto auto;
    margin: 50px 0 0 20px;
    box-shadow: 0 0 10px white;
    border-radius: 30px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    height: 850px;
    width: 98%;

}


    



.card-1,.card-2,.card-3,.card-4,.card-5,.card-6{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 380px;
    background-color: rgba(127,127,127,0.1);
    backdrop-filter: blur(5px);
    margin-right: 150px;
    
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    transition: transform 0.3s, box-shadow 0.3s ;
}

.card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover,.card-5:hover,.card-6:hover{
    
    transform: translateY(-10px);
    box-shadow: 0 12px 24px grey;

}



.card-1{
    margin-top: 130px;
    margin-left: 220px;
}


.card-2{
    margin-top: 130px;
    margin-left: 30px;

}

.card-3{
    margin-top: 130px;
    margin-left: 30px;

}

.card-4{
    margin-top: 30px;
    margin-left: 220px;
}

.card-5{

    margin-top: 30px;
    margin-left: 30px;

}

.card-6{
    margin-top: 30px;
    margin-left: 30px;
}

.card-head{
    color: #fff5fa;
    font-size: 34px;
    margin-top: -30px;
}

p{
    font-size: 20px;
    color: #fff5fa;
    margin-left: 20px;
    margin-top: 25px;
}

.card-1 i,.card-2 i,.card-3 i,.card-4 i,.card-5 i,.card-6 i{
    margin-bottom: 35px;
    font-size: 34px;
    color: #fff5fa;
}



.readmore{
    margin-top: 30px;
    padding-top: 5px 0 0 5px;
    height: 45px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    border:none;
    border-radius: 25px;
    background: #ffa75a;
    transition: scale 0.02s ease, background-color 0.02s ease, color 0.02 ease;

}

.readmore:hover{
    transform: scale(1.09);
    background-color: rgb(255,0,0);
    color: #fff5fa;
}

















